<html>
  <head>
    <title>Advanced React Application Example</title>
  </head>

  <body>
    <div id="root"><%- initialContent %></div>

    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>